* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
img,
ul,
li,
form,
label,
main,
footer,
header,
.nav,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, .nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7%;
  background-color: #ffffff;
}
.nav__logo {
  width: 50%;
  font-size: 1.1rem;
  color: #335576;
}
.nav__list-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}
.nav__list-container a {
  color: black;
  padding: 2% 0;
}
.nav__list-container a:hover {
  border-bottom: solid 3px #DB7A4E;
}

.active {
  border-bottom: solid 3px #DB7A4E;
}

.footer {
  background-color: #FEFAF5;
  color: #335576;
  display: flex;
  width: 100%;
  padding: 3% 12% 5%;
  flex-wrap: wrap;
}
.footer__top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3%;
}
.footer__top--title {
  font-size: 1.6rem;
  width: 30%;
}
.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__bottom--container {
  width: 30%;
}
.footer__bottom--container--hours {
  width: 33%;
}
.footer__bottom--container__socials {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20%;
  margin-left: 18%;
}
.footer__bottom--container__socials img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__bottom--title {
  color: #DB7A4E;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 5%;
}
.footer__bottom--detail {
  display: flex;
  flex-wrap: nowrap;
}

.footer__bottom--container:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.footer__bottom--container--hours > .footer__bottom--title {
  margin-bottom: 8%;
}

.footer__top--title:nth-child(2), .footer__bottom--container:nth-child(2) {
  flex-grow: 1.5;
}

.footer__top--title:nth-child(3), .footer__bottom--container:nth-child(3) {
  display: flex;
  width: 20%;
  justify-content: center;
  margin-left: -10%;
}

.hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}

.iceland {
  background-image: url("../assets/Images/iceland.jpg");
}

.greece {
  background-image: url("../assets/Images/greece.jpg");
}

.destination-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 53%;
  width: 100%;
  height: 80vh;
  padding: 3% 9.5% 5%;
  display: flex;
  flex-direction: column;
}
.destination-container--location {
  font-size: 4rem;
  color: white;
  margin-bottom: 4%;
}

.destination__itinerary--container {
  display: flex;
  justify-content: space-evenly;
}
.destination__itinerary--card {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background-color: white;
  width: 25%;
  padding: 2% 2% 3%;
  border-radius: 7px;
  font-size: 1.1rem;
  margin: 0 -5%;
}
.destination__itinerary--card--header {
  font-weight: bold;
  border-bottom: solid 2px black;
  margin-bottom: 5%;
}
.destination__itinerary--card--item {
  background-color: #FEFAF5;
  width: 100%;
  padding: 6%;
  margin: 8% 0;
}/*# sourceMappingURL=destinations.css.map */