@use "./partials/global" as *;

.hero {
    background-color: $bg-color;
    @include sectional;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;

        &--title {
            font-size: $heading;
            color: $body-color;
            margin-bottom: 5%;
        }

        &--paragraph {
            color: $body-color;
            font-size: $sm-heading;
            margin-bottom: 5%;
        }

        &--button {
            color: white;
            background-color: $highlight-orange;
            border: none;
            width: 30%;
            padding: 1.5% 4%;
            border-radius: 20px;
            font-size: $sm-heading;
        }
    }

    &__right {
        width: 40%;
        display: flex;

        &--image {
            width: 100%;
        }
    }
}

.recommendations {
    @include sectional;

    &--title {
        color: $body-color;
        font-size: $mid-heading;
    }

    &__card-container {
        display: flex;
        padding: 2% 5%;

        &-card {
            @include card("../assets/images/hawaii.jpg");
            font-size: $mid-heading;
            font-weight: 700;
        }
    }
}
.recommendations__card-container-card:nth-child(2) {
    @include card("../assets/images/iceland.jpg")
}
.recommendations__card-container-card:nth-child(3) {
    @include card("../assets/images/greece.jpg")
}
